.poster-img {
  width: 100%;
  padding-top: 56px;
  max-height: 477px;
}

.justify-overlay {
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
}

.img-overlay {
  position: absolute;
}

.overlay-title {
    font-size: 45px;
    line-height: 1.1em;
}

.overlay-text {
    font-size: 30px;
}